<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Music Network</title>
    <link rel="stylesheet" href="../css/barraNavegacion.css">
    <link rel="stylesheet" href="../css/crearTema.css">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://kit.fontawesome.com/ce14add742.js" crossorigin="anonymous"></script>
    <script src='../controllers/crearTema.js'></script>
  </head>
  <body>
    <?php
      include_once "barraNavegacion.html";
    ?>
    <main>
      <section id="creacion-tema">
        <div class="contenedor-encabezado">
          <h2>Vas a publicar en el foro de <span>Ayuda</span></h2>
        </div>

        <div id="contenedor-seleccion-foro">
          <form name="formulario" id="form-login" action="<?php echo $_SERVER['PHP_SELF']; ?>" method="post" enctype="multipart/form-data">
            <label for="titulo-tema">Título del tema</label> <br>
            <input type="text" name="titulo-tema" id="titulo-tema" class="textinput2">
            <br><br>

            <label for="comentario">Comentario</label> <br>
            <textarea name="comentario" id="comentario" class="textinput" wrap="hard"></textarea>

            <div id="barra-anadir-adicionales">
              <button type="button" name="negrita" id="negrita"><b>B</b></button>
              <button type="button" name="cursiva" id="cursiva"><i>I</i></button>
              <button type="button" name="subrayado" id="subrayado"><u>A</u></button>
              <button type="button" name="enlace" id="enlace">ENLACE</button>

              <br>
              <br>

              <label for="imagen-archivo">Selecciona una imagen, audio o vídeo (un archivo por comentario):</label> <br>
              <input type="file" id="imagen-archivo" name="imagen-archivo" accept="image/*,audio/*,video/*" class="textinput2">
              <span id="quitar-imagen">X</span> <br>
              <img src="" width="200px" id="imagen-elegida" alt="imagen elegida para mostrar">
              <audio controls id="audio-elegido">
                <source src="" type="audio/mp3">Tu navegador no soporta audio HTML5.
              </audio>
              <!--<img src="" width="200px" id="video-elegido" alt="imagen elegida para mostrar">-->
            </div>

            <br>

            <input type="hidden" name="tag-usuario" id="tag-usuario" value="<?php echo $_SESSION['tag'] ?>">
            <input type="hidden" name="foro-elegido" id="foro-elegido" value="<?php echo $foroElegido ?>">
            <input type="submit" id="boton-publicar-tema" value="Publicar tema"> <br>

            <br>

            <p id="ver">

            </p>
          </form>
        </div>
      </section>
    </main>
    <footer>footer</footer>
  </body>
</html>
