<?php $url = ""; ?>
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Music Network</title>
    
    <link rel="stylesheet" href="../css/estilosForo.css">
    <script src="https://kit.fontawesome.com/ce14add742.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src='../controllers/foro_ajax.js'></script>
    <script src='https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js'></script>
    <script src='https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js'></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css">
    <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">-->
    <link rel="stylesheet" type="text/css" href="../css/estilosnav.css">
  </head>
  <body>
    <?php
      include_once "../views/barraNavegacion.php";
    ?>
    <main>
      <a href="#logo" class="flecha"></a>

      <section id="seleccion-foro">
        <h2>COMUNIDAD</h2>

        <p>¡Participa en nuestros foros!</p>

        <div id="contenedor-seleccion-foro">
          <div id="foro-ayuda" class="selector-foro" data-value="1">
            <h3>Ayuda</h3>
            <!--<p>Pide ayuda para mejorar tus obras, trucos para aprender a tocar instrumentos o
              cualquier cosa que necesites.
            </p>-->
          </div>
          <div id="foro-busqueda" class="selector-foro" data-value="2">
            <h3>Búsqueda de artistas</h3>
            <!--<p>Busca integrantes para tu grupo o busca artistas para eventos...
            </p>-->
          </div>
          <div id="foro-general" class="selector-foro" data-value="3">
            <h3>General</h3>
            <!--<p>Habla de cualquier otro tema relacionado con el mundo de la música
            </p>-->
          </div>
        </div>
      </section>
      <section id="listado-foros">
          <div id="cabecera-titulo">
              <h2>hola</h2>
          </div>
          
          <div class="contenedor-temas">
            <div id="pad-superior">
              <a href="crearTema_controller.php?dato=1">
                <button id="ver"><b>Nuevo Tema</b></button>
              </a>
            </div>

            <div class="container">
              <div class="row">
                <div class="col-lg">
                  <table id="tablaTemas" class="row-border stripe display nowrap" cellspacing="0" width="80%">
                    <thead>
                        <tr>
                            <th>Título</th>
                            <th>Fecha Publicación</th>
                            <th>Publicado por</th>
                            <th>id</th>
                        </tr>
                    </thead>
                  </table>
                </div>
              </div>
            </div>
        </div>
      </section>
      
      <div hidden>
        <input type="hidden" name="tag-usuario" id="tag-usuario" value="<?php echo $_SESSION['tag'] ?>">
      </div>
    </main>
    <footer>footer</footer>
  </body>
</html>
