<main>
	<section id="seccion-portada">
		<div id="texto-presentacion">
			<h1>Bienvenido a tu nueva comunidad</h1>
			<p>Music Network es la red social perfecta para músicos.</p>
		</div>
		<div id="contenedor-login">
			<div>
				<h2>Accede a tu cuenta</h2>

				<form name="formulario" id="form-login" action="" method="post">
					<label for="usuario">Nombre Usuario</label> <br>
					<input type="text" name="usuario" id="usuario"> 
					<br><br>

					<label for="contrasena">Contraseña</label> <br>
					<input type="password" name="contrasena" id="contrasena"> 
					<br><br>

					<input type="submit" id="boton-iniciar" value="Iniciar Sesión"> <br>
				</form>

				<p>¿Aún no tienes una cuenta? <br><a href="../ontrollers/registro_controller.php">Regístrate</a></p>
			</div>
		</div>
	</section>
</main>
