<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Perfil</title>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

	<link rel="stylesheet" href="https://icono-49d6.kxcdn.com/icono.min.css">

	<link rel="stylesheet" type="text/css" href="../css/perfil.css">
	<link rel="stylesheet" type="text/css" href="../css/publicaciones.css">
	<link rel="stylesheet" type="text/css" href="../css/audio.css">
</head>
<body>
	<div class="div-contenedor-fotoPerfilNombre">
		<div class="div-fotoPerfilNombre">
			<div class="div-contenedor-fotoPerfil">
				<img src="../imagenes/yoda-bebe-6617 - cuadrado.jpg">
			</div>
			<div class="div-contedor-info">
				<div class="div-tagNombre item-a">
					<p class="p-tagNombre-nombre">Javier Renedo</p>
					<p class="p-tagNombre-tag">@JRenedo</p>
				</div>
				<div class="div-fechaNacimiento item-a">
					<p>28 de agosto de 2001</p>
				</div>
				<div class="div-descripcion">
					<p>Esto es una descripción Lorem ipsum adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
				</div>
			</div>
			<div class="div-contenedor-iframe-Spotify">
				<h2>Tu canción favorita</h2>
				<iframe class="iframe-spotify" src="https://open.spotify.com/embed/track/1RnDdNwGdqTMSTiZmSLYdU?utm_source=generator&theme=0" width="100%" height="80" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media;picture-in-picture"></iframe>
			</div>
		</div>
	</div>
	<div class="div-contenedor-estadisticas">
		<div class="div-numPublicaciones div-num">
			<span class="span-num">10</span>
			<span>Publicaciones</span>
		</div>
		<div class="div-numSeguidores div-num">
			<span class="span-num">90</span>
			<span>Seguidores</span>
		</div>
		<div class="div-numSguidos div-num">
			<span class="span-num">80</span>
			<span>Seguidos</span>
		</div>
	</div>
	<div class="div-contenedor-publicaciones">
		<div class="div-publicacion">
			<div class="div-contenedora-img-nombre">
				<div class="div-contenedora-imgUser">
					<img src="../imagenes/yoda-bebe-6617 - cuadrado.jpg">
				</div>
				<div class="div-contenedora-nombre">
					<h4>Javier Renedo</h4>
					<p>@JRenedo</p>
				</div>
			</div>
			<div class="div-contenido">
				<div class="div-contenido-texto">
					<h2>Titulo de la publicacion</h2>
					<p>Esto es la primera publicacion</p>
				</div>
				<div class="div-contenido-audio">
					<div class="controls">
						<div class="play-container">
							<div class="toggle-play play" id="boton-play"></div>
						</div>
						<div class="tiempoCancion">
							<div class="barra-completa-cancion">
								<div class="barra-progreso-cancion" id="barra-progreso"></div>
							</div>
						</div>
						<div class="time">
							<p id="song-currentTime">00:00</p>
							<p id="divider">/</p>
							<p id="song-length"></p>
						</div>
						<div class="audioName">American Idiot</div>
						<div class="volume-container">
							<div class="volume-slider">
								<div class="volume-percentage"></div>
							</div>
							
							<div class="div-boton-volumen">
								<div class="volume icono-volumeMedium"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="div-publicacion">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
		</div>
		<div class="div-publicacion">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
		</div>
		<div class="div-publicacion">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
		</div>
		<div class="div-publicacion">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
		</div>
		<div class="div-publicacion">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
		</div>
	</div>
	<script type="text/javascript" src="../controllers/audio.js"></script>
</body>
</html>