	<div class="div-contenedor-publicaciones" id="div-contenedor-publicaciones"></div>

	<div class="div-contenerdor-comentarios" id="div-contenedor-comentarios">
		<div class="div-comentario div-crearComentario" id="div-crearComentario">
			<form method="post" id="formAddComentario" name="formAddComentario">
				<input class="input-comentario" type="text" id="inputNewComentario" name="inputNewComentario">
				<button class="bttn-addComentario" id="bttn-addComentario">
					<img src="../imagenes/enviar.png">
				</button>
				<label id="inputNewComentario-error" class="error" for="inputNewComentario"></label>
			</form>
		</div>
	</div>	