
<main>
	<div id="contenedor-registro">
		<!--<img src="../imagenes/logo.jpg" alt="Logo de la web">-->
		<h2>Únete a nuestra gran comunidad</h2>

		<form class="" action="#" method="post" id="form-registro">
			<label for="inputEmail">Correo electrónico</label> <br>
			<input type="email" name="inputEmail" id="inputEmail"> <br><br>

			<label for="inputNombre">Nombre completo</label> <br>
			<input type="text" name="inputNombre" id="inputNombre"> <br><br>

			<label for="inputTag">Nombre de usuario</label> <br>
			<input type="text" name="inputTag" id="inputTag"> <br><br>

			<label for="inputPassword">Contraseña</label> <br>
			<input type="password" name="inputPassword" id="inputPassword"> <br><br>

			<!--<label for="inputPassword2">Contraseña</label> <br>
			<input type="password" name="inputPassword2" id="inputPassword2"><br><br>-->

			<label for="inputFechaNacimiento">Fecha nacimiento</label> <br>
			<input type="date" name="inputFechaNacimiento" id="inputFechaNacimiento"> <br>

			<br>
			<input type="submit" id="bttn-registrarse" value="Registrarse" name="registrarse"> <br>
		</form>
		<p>¿Ya tienes una cuenta? <br><a href="../index.php">Accede</a></p>
	</div>
</main>
