<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <!DOCTYPE html>
    <html lang="en" dir="ltr">
      <head>
        <meta charset="utf-8">
        <title>Login Music Network</title>
        <link rel="stylesheet" href="../css/estilosRegistro.css">
        <script src="../js/registro.js"></script>
      </head>
      <body>
        <main>
          <div id="contenedor-registro">
            <img src="imagenes/logo.jpg" alt="Logo de la web">
            <h2>Valida tu cuenta</h2>

            <form class="" action="#" method="post" id="form-validar" onsubmit="return validarLogin()">
              <label for="codigo">Código verificación</label> <br>
              <input type="text" name="codigo" id="codigo"> <br><br>

              <br>
              <input type="submit" id="boton-validar" value="Validar" name="validar"> <br>
            </form>

              <p>¿No te ha llegado el código? <br><a href="../index.php">Volver a enviar</a></p>
          </div>
        </main>
      </body>
    </html>
  </body>
</html>