.div-contenido-audio {
	height: 50px;
	/*width: 350px;*/
	width: 90%;
	margin: 1% 5%;
	background: #444;
	box-shadow: 0 0 20px 0 #000a;
	font-family: arial;
	color: white;
	
	/*overflow: hidden;*/
	display: grid;
	/*grid-template-rows: 6px auto;*/
	border-radius: 10px;
	z-index: 2;
}

.controls {
	z-index: 3;
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	padding: 0 20px;
}

.controls > * {
	display: flex;
	justify-content: center;
	align-items: center;
}

.play-container{
	width: 8%;
	z-index: 4;
}

.toggle-play.play {
	cursor: pointer;
	position: relative;
	left: 0;
	height: 0;
	width: 0;
	border: 7px solid #0000;
	border-left: 13px solid white;
}

.toggle-play.play:hover {
	transform: scale(1.1);
}

.toggle-play.pause {
	height: 15px;
	width: 20px;
	cursor: pointer;
	position: relative;
}

.toggle-play.pause:before {
	position: absolute;
	top: 0;
	left: 0px;
	background: white;
	content: "";
	height: 15px;
	width: 3px;
}

.toggle-play.pause:after {
	position: absolute;
	top: 0;
	right: 8px;
	background: white;
	content: "";
	height: 15px;
	width: 3px;
}

.toggle-play.pause:hover {
	transform: scale(1.1);
}

.barraCancion{
	width: 72%;
}

.completeBar{
	background: red;
	width: 100%;
	height: 10%;
}

.barraCancion .progressBar-cancion {
	background: orange;
	width: 0%;
	height: 100%;
}

.time {
	width: 15%;
	display: flex;
}

.time p{
	font-size: 0.75em;
	padding: 2px;
}

@media(max-width: 1000px){
	.play-container{
		width: 11%;
	}
	.barraCancion{
		width: 66%;
	}
	.time {
		width: 23%;
	}
	.time p{
		font-size: 0.725em;
	}
}

@media(max-width: 700px){
	.play-container{
		width: 11%;
	}
	.barraCancion{
		width: 61%;
	}
	.time {
		width: 26%;
	}
	.time p{
		font-size: 0.7em;
	}
}

@media(max-width: 650px){
	.div-contenido-audio {
		width: 92%;
		margin: 1% 4%;
	}

	.controls {
		padding: 0 15px;
	}
}

@media(max-width: 550px){
	.play-container{
		width: 10%;
	}
	.barraCancion{
		width: 60%;
	}
	.time {
		width: 30%;
	}
	.time p{
		font-size: 0.65em;
	}
}

@media(max-width: 400px){
	.play-container{
		width: 8%;
	}
	.barraCancion{
		width: 56%;
	}
	.time {
		width: 36%;
	}
	.time p{
		font-size: 0.60em;
	}
}

@media(max-width: 400px){
	.play-container{
		width: 10%;
	}
	.barraCancion{
		width: 50%;
	}
	.time {
		width: 40%;
	}
	.time p{
		font-size: 0.55em;
	}
}
