.div-contenido-audio {
	height: 50px;
	/*width: 350px;*/
	width: 100%;
	background: #444;
	box-shadow: 0 0 20px 0 #000a;
	font-family: arial;
	color: white;
	font-size: 0.75em;
	/*overflow: hidden;*/
	display: grid;
	/*grid-template-rows: 6px auto;*/
	border-radius: 10px;
}

.controls {
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	padding: 0 20px;
}

.controls > * {
	display: flex;
	justify-content: center;
	align-items: center;
}

.play-container{
	width: 5%;
}

.toggle-play.play {
	cursor: pointer;
	position: relative;
	left: 0;
	height: 0;
	width: 0;
	border: 7px solid #0000;
	border-left: 13px solid white;
}

.toggle-play.play:hover {
	transform: scale(1.1);
}

.toggle-play.pause {
	height: 15px;
	width: 20px;
	cursor: pointer;
	position: relative;
}

.toggle-play.pause:before {
	position: absolute;
	top: 0;
	left: 0px;
	background: white;
	content: "";
	height: 15px;
	width: 3px;
}

.toggle-play.pause:after {
	position: absolute;
	top: 0;
	right: 8px;
	background: white;
	content: "";
	height: 15px;
	width: 3px;
}

.toggle-play.pause:hover {
	transform: scale(1.1);
}

.tiempoCancion{
	width: 45%;
}

.barra-completa-cancion{
	background: red;
	width: 100%;
	height: 10%;
}

.tiempoCancion .barra-progreso-cancion {
	background: orange;
	width: 0%;
	height: 100%;
	/*transition: 0.25s;*/
}

.time {
	width: 15%;
	display: flex;
}

.time p{
	padding: 2px;
}

.audioName{
	width: 30%;
}

.volume-container {
	width: 5%;
	cursor: pointer;
	position: relative;
	z-index: 2;
}

.div-boton-volumen {
	height: 26px;
	display: flex;
	align-items: center;
}

.div-boton-volumen .volume {
	transform: scale(0.7);
}

/*.volume-container .volume-slider {
	position: absolute;
	top: 15px;
	left: -3px;
	z-index: -1;
	width: 0;
	height: 15px;
	background: white;
	box-shadow: 0 0 20px #000a;
	transition: 0.25s;
}

.volume-container .volume-slider .volume-percentage {
	background: coral;
	height: 100%;
	width: 75%;
}

.volume-container:hover .volume-slider {
	left: -123px;
	width: 120px;
}*/