* {
	margin: 0 auto;
	box-sizing: border-box;
	font-family: arial;
}

/*estilos nav*/
nav {
	background-color: rgb(56, 56, 56);
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 10px 0;
}

.parte-nav {
	margin: 0;
}

#logo h1 a{
	color: white;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	position: -webkit-sticky; /* Safari */
	position: sticky;
	top: 0;
	margin: 0 30px;
}

li {
	float: left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 6px 10px;
	text-decoration: none;
	margin-left: 10px;
	border-radius: 20px;
}

li a:hover {
	/*background-color: white;*/
	color: rgb(250, 222, 179);
}

#perfil a img {
	width: 55px;
	border-radius: 30%;
	border: solid 2px rgb(250, 222, 179);
}
/*fin estilos nav*/

.contenedor-encabezado {
	background-color: rgb(250, 222, 179);
	margin-bottom: 25px;
	padding: 20px;
	text-align: center;
}

.contenedor-encabezado h2{
	margin-bottom: 12px;
}

#barra-anadir-adicionales button{
	background-color: lightgrey;
	border: solid 1px black;
	border-radius: 20px;
	padding: 2px 8px;
	cursor: pointer;
}

#barra-anadir-adicionales button:active {
	background-color: white;
}

#contenedor-seleccion-foro {
	display: flex;
	justify-content: center;
}

#form-login {
	width: 50%;
	margin: 0;
}

#boton-publicar-tema {
	background-color: rgb(230, 230, 230);
	color: black;
	padding: 6px;
	cursor: pointer;
	border: none;
	-webkit-box-shadow: 3px 3px 3px 1px rgba(0,0,0,0.5);
	box-shadow: 3px 3px 3px 1px rgba(0,0,0,0.5);
	border-radius: 5px;
}

.flecha {
	display: inline-block;
	background-color: lightblue;
	width: 50px;
	height: 50px;
	text-align: center;
	border-radius: 4px;
	margin: 30px;
	position: fixed;
	bottom: 10px;
	right: 10px;
	transition: background-color .3s;
	z-index: 1000;
}

.flecha:hover {
	background-color: lightcoral;
}

.flecha::after {
	content: "\f077";
	font-family: FontAwesome;
	font-weight: normal;
	font-style: normal;
	font-size: 2em;
	line-height: 50px;
	color: #fff;
}

#ver {
	width: 90%;
	word-wrap: break-word;
	margin: 0;
}

#boton-publicar-tema:hover {
	-webkit-box-shadow: 2px 2px 3px 1px rgba(0,0,0,0.5);
	box-shadow: 2px 2px 3px 1px rgba(0,0,0,0.5);
}

#form-login {
	margin: 0;
}

footer {
	text-align: center;
	background-color: beige;
	padding: 20px;
}
