* {
	margin: 0 auto;
	box-sizing: border-box;
	font-family: arial;
}

html {
	height: 100vh;
}

body a {
	text-decoration: none;
}

.contenedor-encabezado {
	background-color: rgb(250, 222, 179);
	margin-bottom: 25px;
	padding: 20px;
	text-align: center;
}

.contenedor-encabezado h2{
	margin-bottom: 12px;
}

#barra-anadir-adicionales button {
	background-color: lightgrey;
	border: solid 1px black;
	border-radius: 20px;
	padding: 2px 8px;
	cursor: pointer;
}

#barra-anadir-adicionales button:active {
	background-color: white;
}

#form-login {
	width: 100%;
	margin: 0;
}

#boton-publicar-tema {
	background-color: rgb(230, 230, 230);
	color: black;
	padding: 6px;
	cursor: pointer;
	border: none;
	-webkit-box-shadow: 3px 3px 3px 1px rgba(0,0,0,0.5);
	box-shadow: 3px 3px 3px 1px rgba(0,0,0,0.5);
	border-radius: 5px;
}

.flecha {
	display: inline-block;
	background-color: lightblue;
	width: 50px;
	height: 50px;
	text-align: center;
	border-radius: 4px;
	margin: 30px;
	position: fixed;
	bottom: 10px;
	right: 10px;
	transition: background-color .3s;
	z-index: 1000;
}

.flecha:hover {
	background-color: lightcoral;
}

.flecha::after {
	content: "\f077";
	font-family: FontAwesome;
	font-weight: normal;
	font-style: normal;
	font-size: 2em;
	line-height: 50px;
	color: #fff;
}

#ver {
	width: 90%;
	word-wrap: break-word;
	margin: 0;
}

#boton-publicar-tema:hover {
	-webkit-box-shadow: 2px 2px 3px 1px rgba(0,0,0,0.5);
	box-shadow: 2px 2px 3px 1px rgba(0,0,0,0.5);
}

#form-login {
	margin: 0;
}

footer {
	text-align: center;
	background-color: beige;
	padding: 20px;
}

#quitar-imagen {
	background-color: red;
	color: white;
	padding: 0 3px;
	border-radius: 2px;
	cursor: pointer;
}

#quitar-imagen:hover {
	background-color: rgb(255, 78, 78);
}

.textinput {
	float: left;
	width: 100%;
	min-height: 120px;
	outline: none;
	resize: none;
	border: 1px solid grey;
}

.textinput2 {
	float: left;
	width: 100%;
	min-height: 20px;
	outline: none;
	resize: none;
}

#contenedor-seleccion-foro {
	padding: 10px 50px;
}