nav {
	background-color: rgb(56, 56, 56, 0.9);
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 64px;
}

.parte-nav {
	margin: 0;
}

#logo h1 a{
	color: white;
	text-decoration: none;
	margin: 17px 0;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	/*margin: 0 30px;*/
}

li {
	float: left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 6px 10px;
	text-decoration: none;
	margin-left: 10px;
	border-radius: 20px;
	font-size: 17px;
}

li a:hover {
	color: rgb(250, 222, 179);
}

#perfil{
	display: flex;
}

#perfil i{
	margin: 17px 12px;
	width: 30px;
	height: 30px;
}

#perfil a div {
	background-size: cover;
	background-position: center;
	background-image: url("../imagenes/estandarPerfil.png");
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: solid 2px #212121;
	margin: 7px;
}

@media(max-width: 500px){
	nav {
		height: 58px;
	}
	#logo h1 a{
		margin: 17px 0;
		font-size: 20px;
	}
	#perfil i{
		margin: 16px 11px;
		width: 26px;
		height: 26px;
	}

	#perfil a div {
		width: 46px;
		height: 46px;
		margin: 6px;
	}
	li a {
		padding: 5px 8px;
		font-size: 16px;
	}
}

@media(max-width: 400px){

}