* {
	font-family: arial;
	margin: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	background-image: linear-gradient(
			rgba(0, 0, 150,.5),
			rgba(0, 0, 50, 0.3)
		), url("../imagenes/imagenPortada2.jpg");
	background-size: cover;
	background-attachment: fixed;
}

body a {
	text-decoration: none;
}

/*Estilos para la portada*/
#seccion-portada {
	margin: 0 auto;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 40px 0;
	max-width: 1400px;
}

#texto-presentacion {
	margin: 0 auto;
	font-size: 20px;
	text-align: center;
	color: white;
	margin-bottom: 45px;
	padding: 0 15px;
}

#contenedor-login {
	margin: 0 auto;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin-top: 2%;
	margin-bottom: 2%;
}

#contenedor-login>div {
	width: 90%;
	border-radius: 20px;
	padding: 30px;
	background-color: rgba(255,255,255,.9);
	text-align: center;
	box-shadow: 0px 0px 10px 8px rgba(0,0,0,0.3);
	font-size: 20px;
}

#contenedor-login>div>h2 {
	font-size: 23px;
	margin-bottom: 12px;
}

#formLogin {
	border-radius: 20px;
	padding: 15px;
}

#formLogin input {
	margin-top: 5px;
	text-align: justify;
	border: 2px solid lightgrey;
	border-radius: 15px;
	padding: 7px;
	width: 90%;
	font-size: 15px;
}

#formLogin input:focus{
	outline:none;
	border: 2px solid rgb(250, 222, 179);
} 

#formLogin img {
	width: 40px;
	display: none;
} 

#formLogin>#boton-iniciar {
	border: 0px;
	width: 90%;
	margin-bottom: 10px;
	text-align: center;
	background-color: rgb(250, 222, 179);
	color: black;
	box-shadow: 0px 8px 0px -3px rgba(0,0,0,0.75);
	padding: 5px;
}

#formLogin>#boton-iniciar:hover {
	cursor: pointer;
	box-shadow: 0px 6px 0px -3px rgba(0,0,0,0.75);
}

#contenedor-login>div>p>a {
	text-decoration: none;
	color: grey;
}
/*Fin estilos para la portada*/

/*Móviles en horizontal o tablets en vertical*/
@media (min-width: 768px) { 
	#texto-presentacion {
		font-size: 20px;
		text-align: center;
		color: white;
		margin-bottom: 45px;
		padding: 0 15px;
	}

	#contenedor-login>div>h2 {
		font-size: 30px;
	}

	#contenedor-login>div {
		font-size: 35px;
	}
	
	#formLogin input {
		margin-top: 5px;
		width: 70%;
		font-size: 20px;
	}

	#formLogin>#boton-iniciar {
		width: 70%;
	}
}
 
/*Tablets en horizonal y escritorios normales*/
@media (min-width: 1024px) { 
	#seccion-portada {
		width: 100%;
		flex-direction: row;
		padding: 10px;
		margin-top: 25px;
	}

	#texto-presentacion {
		font-size: 15px;
		text-align: left;
	}

	#contenedor-login {
		width: 40%;
		margin-top: 0;
		margin-bottom: 0;
	}

	#contenedor-login>div {
		padding: 12px;
		font-size: 20px;
	}

	#contenedor-login>div>h2 {
		font-size: 18px;
		margin-bottom: 1px;
	}

	#contenedor-login>div {
		font-size: 13px;
		padding-top: 15px;
		padding-bottom: 15px;
	}
	
	#formLogin input {
		margin-top: 5px;
		width: 80%;
		font-size: 10px;
	}

	#formLogin>#boton-iniciar {
		width: 80%;
	}
}
 
/*Escritorios muy anchos*/
@media (min-width: 1200px) { 
	#seccion-portada {
		margin-top: 45px;
	}

	#texto-presentacion {
		font-size: 18px;
		text-align: left;
	}

	#contenedor-login {
		width: 40%;
		margin-top: 0;
		margin-bottom: 0;
	}

	#contenedor-login>div>h2 {
		font-size: 20px;
	}

	#contenedor-login>div {
		font-size: 15px;
	}
	
	#formLogin input {
		margin-top: 5px;
		width: 70%;
		font-size: 12px;
	}

	#formLogin>#boton-iniciar {
		width: 70%;
	}
}

/*
footer {
	background-color: #DCDCDC;
	text-align: center;
	height: 10%;
}

footer>p {
	display: inline-block;
	padding-top: 15px;
}*/
