* {
	margin: 0;
	box-sizing: border-box;
	font-family: arial;
}

main {
	background-color: white;
}

.flecha {
	margin: 0 auto;
	display: inline-block;
	background-color: lightblue;
	width: 20px;
	height: 20px;
	text-align: center;
	border-radius: 4px;
	margin: 30px;
	position: fixed;
	bottom: 10px;
	right: 10px;
	transition: background-color .3s;
	z-index: 1000;
}

.flecha:hover {
	background-color: lightcoral;
}

.flecha::after {
	content: "\f077";
	font-family: FontAwesome;
	font-weight: normal;
	font-style: normal;
	font-size: 2em;
	line-height: 50px;
	color: #fff;
}

#tablaTemas_filter {
	margin: 0 auto;
	margin-bottom: 10px;
	width: 100%;
	float: left;
}

#tablaTemas_paginate {
	margin: 10px 0;
	width: 100%;
	float: left;
}

#tablaTemas tr td:first-child a,#tablaTemas tr td:nth-child(3) a {
	color: rgb(0, 80, 185);
}

#tablaTemas tr td:first-child a:hover,#tablaTemas tr td:nth-child(3) a:hover {
	color: rgb(25, 125, 255);
}

td a {
	margin: 0 auto;
	color: black;
}

#seleccion-foro {
	background-image:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.5)),
	 url("../imagenes/portada_foro_1.jpeg");
	background-size: cover;
	background-position: center;
	padding: 20px;
}

#seleccion-foro>h2,#seleccion-foro>p {
	text-align: center;
	color: white;
}

/*estilos cabecera*/
#cabecera-titulo {
	margin: 0 auto;
	background-color: rgb(250, 222, 179);
	color: black;
	padding: 15px 0;
	text-align: center;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
/*fin estilos cabecera*/

/*estilos tabla*/
#ver {
	margin: 0 auto;
	background-color: rgb(230, 230, 230);
	color: black;
	padding: 6px;
	cursor: pointer;
	border: none;
	-webkit-box-shadow: 3px 3px 3px 1px rgba(0,0,0,0.5);
	box-shadow: 3px 3px 3px 1px rgba(0,0,0,0.5);
	border-radius: 5px;
	margin-bottom: 10px;
}

#ver:hover {
	-webkit-box-shadow: 2px 2px 3px 1px rgba(0,0,0,0.5);
	box-shadow: 2px 2px 3px 1px rgba(0,0,0,0.5);
}

#tablaTemas {
	border-collapse: collapse;
}

#pad-superior {
	margin-top: 30px;
	width: 90%;
}

.contenedor-temas {
	margin: 0 auto;
	max-width: 1400px;
}

#listado-foros table thead tr th:first-child, #listado-foros table td:first-child {
	margin: 0 auto;
	word-wrap: break-word;
	text-align: left;
}

a {
	margin: 0 auto;
	text-decoration: none;
}

#listado-foros table th, #listado-foros table td {
	margin: 0 auto;
	padding: 10px;
	text-align: right;
}

#listado-foros table th {
	background-color: rgb(255, 251, 200);
	padding: 15px;
}

/*fin estilos tabla*/

/*Estilos cuadro selección*/
#contenedor-seleccion-foro {
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
	width: 80%;
	margin-bottom: 20px;
	margin-top: 30px;
	flex-direction: column;
	max-width: 1400px;
}

.selector-foro {
	margin: 0 auto;
	background-color: rgb(250, 222, 179);
	box-shadow: 0px 0px 8px 4px rgba(0,0,0,0.3);
	border-radius: 20px;
	text-align: center;
	width: 70%;
	cursor: pointer;
	padding: 15px 0;
	font-size: 11px;
	margin-bottom: 10px;
}

.selector-foro:hover {
	background-color: rgb(250, 251, 200);
}

footer {
	margin: 0 auto;
	text-align: center;
	background-color: beige;
	padding: 20px;
}

/*Móviles en horizontal o tablets en vertical*/
@media (min-width: 630px) { 
	#tablaTemas_filter {
		margin-bottom: 10px;
		width: 90%;
		float: left;
	}
	
	#tablaTemas_paginate {
		margin: 10px 0;
		width: 90%;
		float: left;
	}

	#ver {
		margin-left: 40px;
	}

	.selector-foro {
		width: 50%;
	}
}
 
/*Tablets en horizonal y escritorios normales*/
@media (min-width: 1024px) { 
	#contenedor-seleccion-foro {
		display: flex;
		justify-content: space-around;
		width: 100%;
		margin-bottom: 5px;
		margin-top: 20px;
		flex-direction: row;
	}

	.selector-foro {
		width: 20%;
		margin-bottom: 0;
	}

	#pad-superior {
		margin-top: 12px;
	}

	#ver {
		margin-left: 55px;
		margin-bottom: 5px;
	}
}
 
/*Escritorios muy anchos*/
@media (min-width: 1200px) { 
	#ver {
		margin-left: 65px;
	}
}
