*{
	margin: 0;
	padding: 0;
}

body{
	background-color: #212121;
	/*background-image: url("../imagenes/fulcrum.jpg");*/
	background-size: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.div-contenedor-fotoPerfilNombre{
	background-color: rgba(33, 33, 33, 0.5);
	position: relative;
	width: 100%;
	/*display: inline;*/
	align-items: center;
	color: #F5F5F5;
}

.div-fotoPerfilNombre{
	position: relative;
	width: 70%;
	margin: 0 15%;
	display: grid;
	grid-template-columns: 35% 65%;
	grid-template-rows: auto;
}

.div-contenedor-fotoPerfil{
	max-width: 500px;
	display: flex;
	justify-content: center;
	align-items: center;
	justify-self: center;
}

.div-contenedor-fotoPerfil img{
	width: 70%;
	margin: 5% 15%;
	border-radius: 50%;
	border: solid 5px #212121;
}

.div-contedor-info{
	position: relative;		
	padding: 1%;
    /*display: flex;
	flex-direction: column;
	justify-content: space-around;*/
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: auto;
}

.div-tagNombre{
	margin: 0 10%;
	align-self: center;
}

.p-tagNombre-nombre{
	font-size: 1.8em;
	font-weight: bold;
}

.p-tagNombre-tag{
	font-size: 1.3em;
}

.div-fechaNacimiento{
	margin: 0 10%;
	align-self: center;
}

.div-fechaNacimiento p{
	text-align: right;
	font-weight: bold;
	font-size: 1.1em;
}

.div-descripcion{
	margin: 0 5%;
	grid-column: 1 / 3;
	grid-row: 2 / 3;
}

.div-descripcion p{
	/*max-width: 80ch;*/
	/*margin: 2%;*/
}

.div-contenedor-iframe-Spotify{
	width: 100%;
	grid-column: 1 / 3;
	grid-row: 2 / 3;
}

.div-contenedor-iframe-Spotify h2{
	width: 90%;
	margin: 0 5%;
}

.iframe-spotify{
	width: 96%;
	margin: 0.5% 2%;
	border-radius: 12px;
}

.div-contenedor-estadisticas{
	background-color: rgba(200, 200, 200, 0.5);
	position: relative;
	width: 100%;
	padding: 1% 0;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.div-num{
	display: flex;
	flex-direction: column;
}

.div-num span{
	font-size: 1.5em;
	text-align: center;
}

.div-num .span-num{
	font-weight: bold;
}