.div-contenedor-publicaciones{
	/*background-color: rgba(33, 33, 33, 0.5);*/
	position: relative;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 1% 0;
}

.div-publicacion{
	background-color: rgba(200, 200, 200, 0.8);
	width: 60%;
	margin: 0.7% 20%;
	padding: 1%;
	display: grid;
	grid-template-columns: 12% 88%;
	grid-template-rows: auto;
	border-radius: 15px;
	box-shadow: 0px 0px 15px 8px rgba(47,47,47,0.7);
	-webkit-box-shadow: 0px 0px 15px 8px rgba(47,47,47,0.7);
	-moz-box-shadow: 0px 0px 15px 8px rgba(47,47,47,0.7);
	cursor: pointer;
}

.div-contenedora-imgUser{
	/*background-color: rgba(0, 0, 200, 0.8);*/
	width: 45%;
	margin: 5% 27.5%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.div-contenedora-imgUser img{
	width: 100%;
	border-radius: 50%;
	border: solid 3px #212121;
}

.div-contenedora-nombre{
	/*background-color: red;*/
	width: 100%;
	text-align: center;
	overflow-wrap: anywhere;
}

.div-contenedora-nombre > *{
	margin: 2% 1%;
}

.div-contenedora-nombre a{
	color: black;
	text-decoration: none;
}

.div-contenedora-nombre a:hover{
	color: #551A8B;
	text-decoration: underline;
}

.div-contenedora-mgComents{
	margin: 10% 1%;
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: auto;
}

.div-contenedora-mgComents img{
	position: relative;
	width: 60%;
	margin: 5% 20% 0;
}

.div-contenedora-mgComents p{
	text-align: center;
}

.div-contenido{
	/*background-color: purple;*/
	position: relative;
	padding: 1%;
}

.div-contenido-texto{
	position: relative;
	margin: 2%;
}

.div-contenido-texto p{
	text-align: left;
}

.nombre-archivo{
	text-align: right;
	padding: 1%;
}

.div-contenido-img{
	position: relative;
	width: 100%;
}

.div-contenido-img img{
	width: 100%;
}

@media(max-width: 1100px){
	.div-contenedora-nombre{
		font-size: 14px;
	}
}

@media(max-width: 900px){
	.div-publicacion{
		background-color: rgba(200, 200, 200, 0.8);
		width: 70%;
		margin: 0.7% 15%;
		grid-template-columns: 15% 85%;
	}
	.div-contenedora-mgComents img{
		position: relative;
		width: 55%;
		margin: 5% 22.5% 0;
	}
}

@media(max-width: 700px){
	.div-contenedora-nombre{
		font-size: 12px;
	}
}

@media(max-width: 600px){
	.div-publicacion{
		background-color: rgba(200, 200, 200, 0.8);
		width: 75%;
		margin: 0.7% 12.5%;
		grid-template-columns: 15% 85%;
	}
}