* {
	font-family: arial;
	margin:0 auto;
	box-sizing: border-box;
}

/*estilos nav*/
nav {
	background-color: #333;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	position: -webkit-sticky; /* Safari */
	position: sticky;
	top: 0;
	margin: 0 30px;
}

li {
	float: left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 26px 25px;
	text-decoration: none;
}

li a:hover:not(.active) {
	background-color: #111;
}

.active {
	background-color: transparent;
	padding:12px 0px 8px 0px;
}

ul li:first-child {
	margin-right: 30px;
}

ul li:first-child img {
	width: 45px;
}

ul li:first-child a {
	padding:12px 0 8px 0;
}

ul li:last-child img {
	width: 55px;
	border-radius: 30%;
	border: solid 2px rgb(250, 222, 179);
}
/*fin estilos nav*/

/*Inicio estilos encabezado tema*/
.encabezado-tema {
	background-color: rgb(250, 222, 179);
	padding: 20px;
}

.encabezado-tema h2{
	margin: 0 0 10px 0;
}

.encabezado-tema span{
	margin-right: 12px;
}
/*Fin estilos encabezado tema*/

/*seccion comentarios*/
main {
	padding: 8px 120px; 
	float: left;
	width: 100%;
	background-color: rgb(226, 226, 226);
}
/*
.seccion-comentarios {
	background-color: rgba(255, 255, 255, 1);
}*/

.contenedor-comentario {
	margin-bottom: 5px;
	background-color: white;
	border-radius: 20px;
	min-height: 200px;
}

.encabezado-comentario {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 5px;
	background-color: rgb(253, 239, 216);
	border-radius: 20px;
	width: 100%;
	margin: 0;
}

.encabezado-comentario img {
	width: 80px;
	border: 2px solid white;
	border-radius: 20px;
	margin: 0 10px 0 0;
}

.encabezado-comentario span, a {
	margin: 0;
	text-decoration: none;
	color: black;
}

.mensaje-comentario {
	padding: 15px;
}
/*seccion comentarios*/

/*seccion responder*/

/*seccion responder*/

/*estilos aside*/
aside {
	background-color: lightgray;
	width: 20%;
	height: 1200px;
	float: right;
}
/*estilos aside*/

/*estilos footer*/
footer {
	text-align: center;
	background-color: beige;
	padding: 20px;
	clear: both;
}
/*estilos footer*/


